div.css-j7qwjs.e1akgbir7 {display: none;}
div.css-t2bj6i.e1akgbir8 {display: none;}
div.css-t2bj6i.e1akgbir9 {display: none;}
button.css-e370rw.e15ugz7a1 {display: none;}
#MainMenu {display: none;}
footer {display: none;}